@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Domine:wght@400;600&display=swap");

$heading-font: "Domine", serif;
$text-font: "DM Sans", sans-serif;

$dark-gray: #4c4452;
$light-gary: #dcd3e4;
$white: #ffffff;
$theme-clr: #0681c9;
$text-clr: #1d1d1d;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: $white;
    // display: none;

    nav {
        max-width: 1400px;
        margin: 0 auto;
        padding: 1.5rem 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav-logo {
            img {
                object-fit: cover;
            }
        }
        .close-nav {
            display: none;
            img {
                width: 30px;
            }
        }
        .nav-links {
            display: flex;
            align-items: center;
            gap: 6rem;

            .mbl-logo {
                display: none;
            }
            ul {
                display: flex;
                gap: 4rem;
                align-items: center;
                margin: 0;
                padding: 0;

                li {
                    list-style: none;
                    a {
                        text-decoration: none;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 16px;
                        color: #181818;
                        font-family: $text-font;
                        transition: all 0.2s ease-in-out;

                        &:hover {
                            color: $theme-clr;
                        }
                    }
                }
            }
            .become-dealer {
                a {
                    text-decoration: none;
                    color: $white;
                    background-color: $theme-clr;
                    font-family: $text-font;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 16px;
                    padding: 0.75rem 2rem;
                    border-radius: 5px;
                }
            }
        }
        .search-btn {
            cursor: pointer;
        }
        .search-bar {
            background-color: $white;
            transition: all 0.4s ease-in-out;
            position: absolute;
            top: 0;
            margin-top: -10rem;

            .search {
                padding: 3rem 2rem;
                width: 1375px;
                margin: 0 auto;
                position: relative;
                display: flex;
                justify-content: center;

                input {
                    width: 70%;
                    padding: 1rem;
                }
                button {
                    position: absolute;
                    top: 3.85rem;
                    right: 18rem;
                    border: none;
                    margin-right: -3rem;
                    background: transparent;
                }
                .close-search {
                    position: absolute;
                    right: 4rem;
                    top: 4rem;
                    cursor: pointer;

                    img {
                        width: 30px;
                    }
                }
            }
        }
        .toggle-bar {
            display: none;
        }
    }
}
header nav .search-bar.active-search {
    margin-top: 0;
    z-index: 99;
}

@media only screen and (max-width: 1375px) {
    header nav .search-bar .search {
        max-width: 100%;
    }
    header nav .search-bar {
        width: 97%;
    }
    header nav .search-bar .search button {
        right: 17.5rem;
    }
}

@media only screen and (max-width: 1300px) {
    header nav .search-bar .search button {
        right: 16.5rem;
    }
    header nav .nav-links ul {
        gap: 2.5rem;
        flex-wrap: wrap;
    }
    header nav .nav-links {
        gap: 4rem;
    }
}

@media only screen and (max-width: 1050px) {
    header nav .nav-links {
        gap: 2rem;
    }
    header nav .nav-links .become-dealer a {
        font-size: 15px;
    }
}

@media only screen and (max-width: 990px) {
    header nav .nav-links {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        width: 450px;
        padding: 2rem;
        height: 100vh;
        z-index: 99;
        transition: all .3s ease-in-out;
        margin-left: -40rem;
        align-items: flex-start;
    }
    header nav .nav-links.active-nav {
        margin-left: 0;
        box-shadow: 0 0 0 100vw #9b99997d;
    }
    header nav .nav-links .mbl-logo {
        display: block;
    }
    header nav .nav-links .close-nav {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem;
    }
    header nav .nav-links ul {
        flex-direction: column;
        align-items: flex-start;
    }
    header nav .nav-logo img {
        -o-object-fit: cover;
        object-fit: cover;
        width: 200px;
    }
    header nav {
        padding: 1.5rem 30px;
    }
    header nav .search-btn {
        cursor: pointer;
        margin-right: 4rem;
    }
    header nav .toggle-bar {
        display: block;
        position: absolute;
        right: 2rem;
    }
    header nav .search-bar {
        width: 100%;
        left: 0;
    }
    header nav .search-bar .search button {
        right: 15rem;
    }
}

@media only screen and (max-width: 768px){
    header nav .search-bar .search button {
        right: 12.5rem;
        margin-top: -2px;

        img{
            width: 20px;
        }
    }
    header nav .search-bar .search input {
        padding: .75rem;
    }    
}

@media only screen and (max-width:550px){
    header nav .nav-links{
        width: 94%;
    }
    header nav .close-nav img {
        width: 25px;
    }
    header nav .nav-logo img {
        -o-object-fit: cover;
        object-fit: cover;
        width: 120px;
    }
    header nav .search-bar .search .close-search {
        position: absolute;
        right: 1.5rem;
        top: 2.75rem;
        cursor: pointer;
    }
    header nav .search-bar .search .close-search img {
        width: 20px;
    }
    header nav .search-bar .search button img {
        width: 18px;
    }
    header nav .search-bar .search button {
        right: 8rem;
        margin-top: -18px;
    }
    header nav {
        padding: 1.5rem 25px;
    }
    header nav .toggle-bar{
        right: 1.5rem;
    }
    header nav .search-btn {
        cursor: pointer;
        margin-right: 3.4rem;
    }
    header nav .nav-links ul {
        flex-direction: column;
        gap: 1.5rem;
    }
    header nav .nav-links .become-dealer{
        margin-top: .75rem;
    }
    header nav .search-bar .search{
        padding: 2rem 1rem;
    }
    header nav .nav-links.active-nav {
        padding: 1.5rem;
    }
}